@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
html { box-sizing: border-box; height: 100%; }

*, *::after, *::before { box-sizing: inherit; padding: 0; margin: 0; }

body { min-width: 320px; overflow-x: hidden; height: 100%; }

ol, ul { list-style: none; }

button { cursor: pointer; }

a { text-decoration: none; color: #FFFFFF; }

.wrapper { min-height: 100%; display: flex; flex-direction: column; }

.container { padding: 0 20px 0px 20px; }

.header { position: fixed; width: 100%; top: 0; left: 0; z-index: 3; }
.header__inner { position: relative; display: flex; justify-content: space-between; align-items: center; }

.header:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; }

.header__list { display: flex; align-items: center; position: relative; z-index: 2; }
.header__list li .header__link { font-family: "Source Sans Pro"; font-style: normal; font-weight: 400; font-size: 18px; line-height: 20px; letter-spacing: 1px; color: #ffffff; margin-right: 36px; }
.header__list li button { font-family: "Paytone One"; font-style: normal; font-weight: 400; font-size: 18px; line-height: 20px; text-align: center; letter-spacing: 1px; color: #ffffff; background: #d400b3; border: 2px solid #d400b3; border-radius: 1px; padding-top: 7px; padding-bottom: 7px; width: 214px; margin-left: 100px; z-index: 3; position: relative; }

.logo { position: relative; z-index: 3; }

.header__burger { display: none; }

@media (max-width: 1440px) { .container { margin-left: calc(30px + (120 - 30) * ((100vw - 760px) / (1440 - 760))); margin-right: calc(30px + (120 - 30) * ((100vw - 760px) / (1440 - 760))); }
  .header__list li button { margin-left: calc(20px + (480 - 20) * ((100vw - 760px) / (1440 - 760))); } }
@media (max-width: 767px) { body.lock { overflow: hidden; }
  .container { margin-left: calc(12px + (30 - 12) * ((100vw - 320px) / (767 - 320))); margin-right: calc(12px + (30 - 12) * ((100vw - 320px) / (767 - 320))); }
  .header__list li button { margin-left: 0px; }
  .header__burger { display: block; position: relative; width: 56px; height: 36px; position: relative; z-index: 3; }
  .header__burger span { position: absolute; background-color: #ffffff; left: 0; width: 100%; height: 2px; top: 17px; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; }
  .header__burger:before, .header__burger:after { content: ""; background-color: white; position: absolute; width: 100%; height: 2px; left: 0; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; }
  .header__burger:before { top: 0; }
  .header__burger:after { bottom: 0; }
  .header__menu { position: fixed; top: -100%; left: 0; width: 100%; height: 100%; overflow: auto; background-color: #262627; padding: 80px 18px 20px 32px; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; }
  .header__menu ul { display: block; }
  .header__menu ul li { margin: 0px 0px 20px 0px; } }
.header__menu.active { top: 0; }

.header__burger.active span { transform: scale(0); -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); }

.header__burger.active:before { transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); top: 16px; }

.header__burger.active:after { transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); bottom: 16px; }

.content { margin: 80px 0px 0px 0px; }

.page { flex: 1 1 auto; }
.page .page__main-block { display: flex; background-color: #0D0D0E; }
.page .page__main-block .main-block__container .main-block__body { margin: calc(64px + (123 - 64) * ((100vw - 320px) / (1440 - 320))) calc(24px + (0 - 24) * ((100vw - 320px) / (1440 - 320))) calc(24px + (99 - 24) * ((100vw - 320px) / (1440 - 320))) calc(24px + (120 - 24) * ((100vw - 320px) / (1440 - 320))); }
.page .page__main-block .main-block__container .main-block__body h1 { font-family: "Paytone One"; font-style: normal; font-weight: 400; font-size: calc(36px + (84 - 36) * ((100vw - 320px) / (1440 - 320))); line-height: calc(60px + (100 - 60) * ((100vw - 320px) / (1440 - 320))); letter-spacing: 1px; color: #ffffff; position: absolute; z-index: 2; }
.page .page__main-block .main-block__container .main-block__body .main-block__text { font-family: "Source Sans Pro"; font-style: normal; font-weight: 400; font-size: 20px; line-height: 32px; letter-spacing: 1px; color: #e5e5e5; width: calc(280px + (640 - 280) * ((100vw - 320px) / (1440 - 320))); padding-top: calc(224px + (325 - 224) * ((100vw - 320px) / (1440 - 320))); z-index: 2; position: relative; }
.page .page__main-block .main-block__img { width: calc(320px + (792 - 320) * ((100vw - 320px) / (1440 - 320))); z-index: 1; }
.page .page__main-block .main-block__img .circle { width: calc(320px + (792 - 320) * ((100vw - 320px) / (1440 - 320))); position: absolute; right: 0px; }
.page .page__main-block .main-block__img .view { position: absolute; top: calc(190px + (478 - 190) * ((100vw - 320px) / (1440 - 320))); right: calc(0px + (512 - 0) * ((100vw - 320px) / (1440 - 320))); width: calc(60px + (150 - 60) * ((100vw - 320px) / (1440 - 320))); z-index: 1; }
.page .page__main-block .main-block__img .square1 { width: calc(60px + (145 - 60) * ((100vw - 320px) / (1440 - 320))); height: calc(60px + (160 - 60) * ((100vw - 320px) / (1440 - 320))); background-color: #000; position: absolute; top: calc(190px + (353 - 190) * ((100vw - 320px) / (1440 - 320))); right: calc(0px + (648 - 0) * ((100vw - 320px) / (1440 - 320))); }
.page .page__main-block .main-block__img .square2 { width: calc(60px + (145 - 60) * ((100vw - 320px) / (1440 - 320))); height: calc(60px + (175 - 60) * ((100vw - 320px) / (1440 - 320))); background-color: #0D0D0E; position: absolute; top: calc(220px + (513 - 220) * ((100vw - 320px) / (1440 - 320))); right: calc(320px + (648 - 320) * ((100vw - 320px) / (1440 - 320))); }
.page .page__main-block .main-block__img .square3 { height: 64px; width: calc(320px + (740 - 320) * ((100vw - 320px) / (1440 - 320))); background-color: #0D0D0E; position: absolute; top: calc(277px + (687 - 277) * ((100vw - 320px) / (1440 - 320))); right: calc(0px + (0 - 0) * ((100vw - 320px) / (1440 - 320))); }

.more { background-color: #262627; margin-top: -1px; padding: 42px 155px 238px calc(30px + (120 - 30) * ((100vw - 320px) / (1440 - 320))); }
.more .watch-video { display: flex; align-items: center; margin-bottom: calc(54px + (203 - 54) * ((100vw - 1024px) / (1440 - 1024))); }
.more .watch-video p { font-family: "Paytone One"; font-style: normal; font-weight: 400; font-size: 32px; line-height: 44px; letter-spacing: 1px; color: #ffffff; }
.more .watch-video a { background: #ffffff; padding: 14px; margin-left: 30px; }
.more .watch-video a img { display: flex; align-items: center; }
.more .achievements { display: flex; justify-content: space-between; }
.more .achievements .achievement__text { font-family: "Source Sans Pro"; font-style: normal; font-weight: 400; font-size: 20px; line-height: 32px; letter-spacing: 1px; color: #e5e5e5; width: 448px; }
.more .achievements .achievement__container { display: flex; gap: calc(30px + (76 - 30) * ((100vw - 320px) / (1440 - 320))); }
.more .achievements .achievement__container .achievement h3 { font-family: "Paytone One"; font-style: normal; font-weight: 400; font-size: calc(24px + (56 - 24) * ((100vw - 320px) / (1440 - 320))); line-height: 56px; text-align: center; letter-spacing: 1px; color: #ffffff; }
.more .achievements .achievement__container .achievement p { font-family: "Source Sans Pro"; font-style: normal; font-weight: 400; font-size: 16px; line-height: 20px; text-align: center; letter-spacing: 1px; color: #ffffff; margin-top: 11px; }

@media (max-width: 1439px) { .more { margin-top: -1px; } }
@media (max-width: 1024px) { .more { background-color: #262627; padding: calc(80px + (42 - 80) * ((100vw - 320px) / (1024 - 320))) calc(30px + (120 - 30) * ((100vw - 320px) / (1440 - 320))) calc(80px + (238 - 80) * ((100vw - 320px) / (1024 - 320))) calc(30px + (120 - 30) * ((100vw - 320px) / (1440 - 320))); }
  .more .watch-video { display: flex; align-items: center; margin-bottom: calc(30px + (45- 30) * ((100vw - 320px) / (1024 - 320))); }
  .more .watch-video p { font-family: "Paytone One"; font-style: normal; font-weight: 400; font-size: 32px; line-height: 44px; letter-spacing: 1px; color: #ffffff; }
  .more .watch-video a { background: #ffffff; padding: 14px; margin-left: 30px; }
  .more .watch-video a img { display: flex; align-items: center; }
  .more .achievements { display: flex; flex-direction: column; margin-top: calc(204px + (64 - 204) * ((100vw - 320px) / (1024 - 320))); }
  .more .achievements .achievement__text { font-family: "Source Sans Pro"; font-style: normal; font-weight: 400; font-size: 20px; line-height: 32px; letter-spacing: 1px; color: #e5e5e5; width: calc(270px + (860 - 270) * ((100vw - 320px) / (1024 - 320))); margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1024 - 320))); }
  .more .achievements .achievement__container { display: flex; justify-content: space-between; }
  .more .achievements .achievement__container .achievement h3 { font-family: "Paytone One"; font-style: normal; font-weight: 400; font-size: calc(36px + (56 - 36) * ((100vw - 320px) / (1024 - 320))); line-height: 56px; text-align: center; letter-spacing: 1px; color: #ffffff; }
  .more .achievements .achievement__container .achievement p { font-family: "Source Sans Pro"; font-style: normal; font-weight: 400; font-size: 16px; line-height: 20px; text-align: center; letter-spacing: 1px; color: #ffffff; margin-top: 11px; } }
@media (max-width: 425px) { .more { padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (425 - 320))); }
  .more .achievements .achievement__container { flex-wrap: wrap; } }
.popular { margin-top: -2px; background-color: #262627; padding: 14px 0px calc(24px + (174 - 24) * ((100vw - 320px) / (1440 - 320))) 0px; display: flex; flex-direction: column; gap: calc(24px + (64 - 24) * ((100vw - 320px) / (1440 - 320))); }
.popular .popular__top { display: flex; justify-content: space-between; flex-wrap: wrap; }
.popular .popular__bottom { display: flex; justify-content: space-between; flex-wrap: wrap; }

.img-left-margin { margin-left: 24px; margin-bottom: 16px; }

.img-right-margin { margin-right: 24px; }

@media (max-width: 1340px) { .popular__top { margin: calc(24px + (80 - 24) * ((100vw - 320px) / (1340 - 320))); }
  .img-3 { margin-left: calc(0px + (40 - 0) * ((100vw - 320px) / (1340 - 320))); margin-top: 40px; margin-right: 0; }
  .popular__bottom { margin: calc(24px + (80 - 24) * ((100vw - 320px) / (1340 - 320))); margin-top: -40px; }
  .img-5 { margin-left: calc(0px + (40 - 0) * ((100vw - 320px) / (1340 - 320))); margin-top: 40px; margin-right: 0; } }
@media (max-width: 978px) { .img-1 { width: calc(200px + (300 - 200) * ((100vw - 320px) / (978 - 320))); }
  .img-2 { margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (978 - 320))); width: calc(290px + (400 - 290) * ((100vw - 320px) / (978 - 320))); }
  .img-3 { width: calc(200px + (400 - 290) * ((100vw - 320px) / (978 - 320))); }
  .img-4 { width: calc(300px + (400 - 300) * ((100vw - 320px) / (978 - 320))); margin-left: calc(-10px + (10 - (-10)) * ((100vw - 320px) / (978 - 320))); }
  .img-5 { width: calc(290px + (400 - 290) * ((100vw - 320px) / (978 - 320))); }
  .img-6 { margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (978 - 320))); width: calc(200px + (300 - 200) * ((100vw - 320px) / (978 - 320))); } }
.sell { margin-top: -1px; background-color: #0D0D0E; padding: 175px 112px 185px 112px; }
.sell__header { font-family: "Paytone One"; font-style: normal; font-weight: 400; font-size: calc(42px + (52 - 42) * ((100vw - 320px) / (1440 - 320))); line-height: 64px; /* identical to box height, or 123% */ text-align: center; letter-spacing: 1px; color: #ffffff; margin-bottom: 51px; }
.sell__cards { display: flex; justify-content: space-between; flex-wrap: wrap; }

.sell__card { max-width: 392px; max-height: 275px; background: #262627; border: 1px solid rgba(229, 229, 229, 0.5); border-radius: 2px; margin: 0 8px 16px 8px; }

.card__imgs { display: flex; justify-content: space-between; margin-bottom: calc(12px + (25 - 12) * ((100vw - 320px) / (1440 - 320))); }

.card__img { padding-left: 17px; padding-top: 36px; }

.card__header { font-family: "Paytone One"; font-style: normal; font-weight: 400; font-size: 23px; line-height: 32px; text-align: center; letter-spacing: 1px; color: #ffffff; margin: 0 6px 0 17px; display: flex; justify-content: flex-start; }

.card__description { font-family: "Source Sans Pro"; font-style: normal; font-weight: 400; font-size: 16px; line-height: 26px; letter-spacing: 1px; color: #e5e5e5; margin: 11px 6px calc(8px + (58 - 8) * ((100vw - 320px) / (1440 - 320))) 17px; }

@media (max-width: 1388px) { .sell { padding: calc(100px + (175 - 100) * ((100vw - 320px) / (1388 - 320))) calc(40px + (112 - 40) * ((100vw - 320px) / (1388 - 320))) calc(60px + (185 - 60) * ((100vw - 320px) / (1388 - 320))) calc(40px + (112 - 40) * ((100vw - 320px) / (1388 - 320))); }
  .sell__cards { flex-direction: column; }
  .sell__card { max-width: 100%; padding-bottom: calc(28px + (4 - 28) * ((100vw - 320px) / (1388 - 320))); } }
.trend { margin-top: -1px; padding: 0 calc(28px + (120 - 28) * ((100vw - 320px) / (1440 - 320))) calc(60px + (142 - 60) * ((100vw - 320px) / (1440 - 320))) calc(28px + (120 - 28) * ((100vw - 320px) / (1440 - 320))); justify-content: space-between; flex-wrap: wrap; }

.trend__header { font-family: 'Paytone One'; font-style: normal; font-weight: 400; font-size: calc(42px + (52 - 42) * ((100vw - 320px) / (1440 - 320))); line-height: 123%; letter-spacing: 1px; color: #FFFFFF; }

.trend__text { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 160%; letter-spacing: 1px; color: #E5E5E5; margin: 18px 6px 96px 6px; max-width: 548px; }

.card-trend { max-width: 548px; }

.card-trend:not(:last-child) { margin-bottom: 99px; }

.card-trend__header { font-family: 'Paytone One'; font-style: normal; font-weight: 400; font-size: 31px; line-height: 142%; letter-spacing: 1px; color: #FFFFFF; cursor: pointer; }

.card-trend__description { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 125%; letter-spacing: 1px; color: #C4C4C4; display: flex; align-items: center; justify-content: space-between; margin: 7px 0 12px 0; }

.eth { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 125%; letter-spacing: 1px; color: #D400B3; }

.card-trend__img { position: relative; cursor: pointer; }

.trend-view { position: absolute; bottom: 10%; right: 5%; }

.trend__right { margin: 84px 6px 6px 6px; }

.trend__view { margin-top: 10px; }
.trend__view p { position: relative; font-family: 'Paytone One'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 111%; text-align: right; letter-spacing: 1px; color: #D400B3; }
.trend__view p img { position: absolute; top: -26px; left: calc(65px + (329 - 65) * ((100vw - 320px) / (1440 - 320))); }

@media (max-width: 1368px) { .trend { justify-content: center; } }
@media (max-width: 600px) { .card-trend__img { max-width: 550px; }
  .card-trend__img img { width: 100%; }
  .card-trend__img .trend-view { width: calc(50px + (80 - 50) * ((100vw - 320px) / (1368 - 320))); } }
.artists { background-color: #262627; margin-top: -2px; padding: calc(50px + (90 - 50) * ((100vw - 320px) / (1440 - 320))) calc(28px + (112 - 28) * ((100vw - 320px) / (1440 - 320))) calc(28px + (160 - 28) * ((100vw - 320px) / (1440 - 320))) calc(28px + (112 - 28) * ((100vw - 320px) / (1440 - 320))); }

.articts__top { display: flex; justify-content: space-between; position: relative; }

.artists__left { font-family: 'Paytone One'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 111%; letter-spacing: 1px; color: #D400B3; }

.artists__view { position: relative; }
.artists__view .artists-view { position: absolute; top: -24px; left: 0; }

.artists__description { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 160%; letter-spacing: 1px; color: #E5E5E5; max-width: 265px; margin-top: 26px; }

.artists__right { background-color: #0D0D0E; padding: calc(76px + (69 - 76) * ((100vw - 320px) / (1440 - 320))) calc(0px + (213 - 0) * ((100vw - 320px) / (1440 - 320))) calc(16px + (58 - 16) * ((100vw - 320px) / (1440 - 320))) calc(0px + (80 - 0) * ((100vw - 320px) / (1440 - 320))); position: absolute; top: -91px; right: calc(0px + (-112 - 0) * ((100vw - 320px) / (1440 - 320))); }

.artists__header { font-family: 'Paytone One'; font-style: normal; font-weight: 400; font-size: calc(42px + (52 - 42) * ((100vw - 320px) / (1440 - 320))); line-height: 123%; letter-spacing: 1px; color: #FFFFFF; }

.articts__bottom { display: flex; align-items: center; justify-content: space-between; margin: calc(8px + (160 - 8) * ((100vw - 320px) / (1440 - 320))) 0 0 0; flex-wrap: wrap; }

.artist { display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 16px 8px 16px 8px; }

.artist__imgs { position: relative; }
.artist__imgs :last-child { position: absolute; bottom: -15%; right: 37%; }

.artist__name { font-family: 'Paytone One'; font-style: normal; font-weight: 400; font-size: 32px; line-height: 138%; letter-spacing: 1px; color: #FFFFFF; margin: 59px 0px 31px 0px; }

.artist__btn { font-family: 'Paytone One'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 111%; text-align: center; letter-spacing: 1px; color: #FFFFFF; background: #D400B3; border: 2px solid #D400B3; border-radius: 1px; padding: 7px 38px 13px 38px; }

@media (max-width: 1015px) { .artists__right { position: relative; background-color: inherit; padding-left: 0; padding-right: 0; }
  .articts__top { flex-direction: column-reverse; align-items: center; } }
@media (max-width: 994px) { .articts__bottom { justify-content: center; } }
@media (max-width: 428px) { .artist__imgs :not(:last-child) { width: calc(280px + (329 - 280) * ((100vw - 320px) / (428 - 320))); }
  .artist__imgs :last-child { right: 31%; bottom: -23%; } }
.best { background-color: #0D0D0E; padding: calc(60px + (175 - 60) * ((100vw - 320px) / (1440 - 320))) 0 calc(90px + (270 - 90) * ((100vw - 320px) / (1440 - 320))) 0; margin-top: -1px; }

.best__top { display: flex; flex-direction: column; justify-content: center; align-items: center; }

.best__header { font-family: 'Paytone One'; font-style: normal; font-weight: 400; font-size: calc(42px + (52 - 42) * ((100vw - 320px) / (1440 - 320))); line-height: 123%; text-align: center; letter-spacing: 1px; color: #FFFFFF; margin: 0 16px; }

.best__text { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 160%; text-align: center; letter-spacing: 1px; color: #E5E5E5; max-width: 591px; margin: 18px 16px 67px 16px; }

.best__bottom { position: relative; min-height: 275px; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0 calc(20px + (264 - 20) * ((100vw - 320px) / (1440 - 320))); gap: 35px; }

.best__client { background: rgba(196, 196, 196, 0.2); border: 1px solid rgba(229, 229, 229, 0.3); border-radius: 1px; padding: 49px calc(40px + (109 - 40) * ((100vw - 320px) / (1440 - 320))); margin: 0 auto; }

.foxhub { padding-top: calc(25px + (44 - 25) * ((100vw - 320px) / (1440 - 320))); padding-bottom: calc(25px + (44 - 25) * ((100vw - 320px) / (1440 - 320))); }

.hexlab { padding-top: calc(23px + (41 - 23) * ((100vw - 320px) / (1440 - 320))); padding-bottom: calc(23px + (41 - 23) * ((100vw - 320px) / (1440 - 320))); }

.lightai { top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 0px; background: none; border: none; position: absolute; }
.lightai img { width: calc(200px + (341 - 200) * ((100vw - 320px) / (1440 - 320))); }

.nirastate { padding-top: calc(27px + (48 - 27) * ((100vw - 320px) / (1440 - 320))); padding-bottom: calc(27px + (47 - 27) * ((100vw - 320px) / (1440 - 320))); }

.zootv { padding-top: calc(23px + (41 - 23) * ((100vw - 320px) / (1440 - 320))); padding-bottom: calc(23px + (41 - 23) * ((100vw - 320px) / (1440 - 320))); }

@media (max-width: 1356px) { .lightai { position: relative; top: initial; left: initial; transform: initial; } }
.drop { margin-top: -1px; padding-left: calc(30px + (120 - 30) * ((100vw - 760px) / (1440 - 760))); padding-right: calc(30px + (120 - 30) * ((100vw - 760px) / (1440 - 760))); background: #0D0D0E; }

.drop__container { position: relative; background-color: #262627; padding: 195px 0px 95px 0px; border-bottom: 5px solid #D400B3; max-width: 1200px; max-height: 523px; display: flex; flex-direction: column; align-items: center; justify-content: center; }

.drop__img { top: 0%; left: 52%; transform: translate(-50%, -78%); position: absolute; }
.drop__img img { width: calc(220px + (555 - 220) * ((100vw - 320px) / (1440 - 320))); }

.drop__header { font-family: 'Paytone One'; font-style: normal; font-weight: 400; font-size: calc(42px + (52 - 42) * ((100vw - 320px) / (1440 - 320))); line-height: 123%; text-align: center; letter-spacing: 1px; color: #FFFFFF; margin: 0px 12px 0px 12px; }

.drop__text { font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 160%; text-align: center; letter-spacing: 1px; color: #E5E5E5; margin: 18px 12px 37px 12px; max-width: 591px; }

.drop__search { display: flex; align-items: center; justify-content: center; }
.drop__search input { background: rgba(196, 196, 196, 0.1); width: calc(308px + (456 - 308) * ((100vw - 760px) / (1440 - 760))); height: calc(46px + (50 - 46) * ((100vw - 760px) / (1440 - 760))); cursor: pointer; outline: none; }
.drop__search button { background: #D400B3; border: 2px solid #D400B3; border-radius: 1px; width: calc(100px + (144 - 100) * ((100vw - 760px) / (1440 - 760))); height: calc(47px + (51 - 47) * ((100vw - 760px) / (1440 - 760))); }

@media (max-width: 746px) { .drop__img { top: 17%; left: 49%; transform: translate(-50%, -78%); position: absolute; } }
.contacts { padding-top: calc(50px + (115 - 50) * ((100vw - 320px) / (1440 - 320))); padding-left: calc(30px + (120 - 30) * ((100vw - 320px) / (1440 - 320))); padding-right: calc(30px + (120 - 30) * ((100vw - 320px) / (1440 - 320))); padding-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320))); border-bottom: 1px solid rgba(229, 229, 229, 0.3); background: #0D0D0E; margin-top: -1px; display: flex; justify-content: space-between; align-items: center; }

.contacts__links { display: flex; align-items: center; font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 111%; letter-spacing: 1px; }

.links__logo { margin-right: 42px; margin-top: 12px; }

.contacts__social { display: flex; align-items: center; justify-content: center; }

.social { background: rgba(196, 196, 196, 0.2); border: 1px solid rgba(229, 229, 229, 0.3); padding: 13px; }

.social:not(:last-child) { margin-right: 16px; }

@media (max-width: 800px) { .contacts { flex-direction: column-reverse; }
  .contacts__social a { padding: 8px; }
  .contacts__social a img { width: 14px; }
  .contacts__links { margin-top: 16px; flex-direction: row-reverse; flex-wrap: wrap; }
  .contacts__links a img { width: 40px; } }
.footer { background-color: #0D0D0E; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; padding: 40px 20px; font-family: 'Source Sans Pro'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 125%; text-align: center; letter-spacing: 1px; color: #FFFFFF; margin-top: -1px; }
.footer p { margin-right: 3px; margin-bottom: 6px; }
.footer a { margin-right: 3px; margin-bottom: 6px; }

/*# sourceMappingURL=style.css.map */
