@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
a{
    text-decoration: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 20px 0px 20px;
}

.main-block {
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //  background-color: $blackBG;
  z-index: 2;
}

.header__list {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;

  li {
    .header__link {
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1px;
      color: #ffffff;
      margin-right: 36px;
    }

    button {
      font-family: "Paytone One";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 1px;
      color: #ffffff;
      background: #d400b3;
      border: 2px solid #d400b3;
      border-radius: 1px;
      padding-top: 7px;
      padding-bottom: 7px;
      width: 214px;
      margin-left: 100px;
      z-index: 3;
      position: relative;
    }
  }
}

.logo {
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    margin-left: calc(30px + (120 - 30) * ((100vw - 760px) / (1440 - 760)));
    margin-right: calc(30px + (120 - 30) * ((100vw - 760px) / (1440 - 760)));
  }

  .header__list {
    li {
      button {
        margin-left: calc(20px + (480 - 20) * ((100vw - 760px) / (1440 - 760)));

      }
    }
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .container {
    margin-left: calc(12px + (30 - 12) * ((100vw - 320px) / (767 - 320)));
    margin-right: calc(12px + (30 - 12) * ((100vw - 320px) / (767 - 320)));
  }

  .header__list {
    li {
      button {
        margin-left: 0px;
      }
    }
  }

  .header__burger {
    display: block;
    position: relative;
    width: 56px;
    height: 36px;
    position: relative;
    z-index: 3;

    span {
      position: absolute;
      background-color: #ffffff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 17px;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
    }
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $grayBG;
    padding: 80px 18px 20px 32px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;

    ul {
      display: block;

      li {
        margin: 0px 0px 20px 0px;
      }
    }
  }
}

.header__menu.active {
  top: 0;
}

.header__burger.active span {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.header__burger.active:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 16px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  bottom: 16px;
}

.content {
  margin: 80px 0px 0px 0px;
}

//page
.page {
  flex: 1 1 auto;

  .page__main-block {
    display: flex;
    background-color: $blackBG;

    .main-block__container {
      .main-block__body {
        margin: calc(64px + (123 - 64) * ((100vw - 320px) / (1440 - 320)))
          calc(24px + (0 - 24) * ((100vw - 320px) / (1440 - 320)))
          calc(24px + (99 - 24) * ((100vw - 320px) / (1440 - 320)))
          calc(24px + (120 - 24) * ((100vw - 320px) / (1440 - 320)));

        h1 {
          font-family: "Paytone One";
          font-style: normal;
          font-weight: 400;
          font-size: calc(36px + (84 - 36) * ((100vw - 320px) / (1440 - 320)));
          line-height: calc(60px + (100 - 60) * ((100vw - 320px) / (1440 - 320)));
          letter-spacing: 1px;
          color: #ffffff;
          position: absolute;
          z-index: 2;
        }

        .main-block__text {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 1px;
          color: #e5e5e5;
          width: calc(280px + (640 - 280) * ((100vw - 320px) / (1440 - 320)));
          padding-top: calc(224px + (325 - 224) * ((100vw - 320px) / (1440 - 320)));
          z-index: 2;
          position: relative;
        }
      }
    }

    .main-block__img {
      width: calc(320px + (792 - 320) * ((100vw - 320px) / (1440 - 320)));
      z-index: 1;
      .circle {
        width: calc(320px + (792 - 320) * ((100vw - 320px) / (1440 - 320)));
        position: absolute;
        right: 0px;
      }
      .view{
        position: absolute;
        top: calc(190px + (478 - 190) * ((100vw - 320px) / (1440 - 320)));
        right: calc(0px + (512 - 0) * ((100vw - 320px) / (1440 - 320)));
        width: calc(60px + (150 - 60) * ((100vw - 320px) / (1440 - 320)));
        z-index: 1;
      }
      .square1{
        width: calc(60px + (145 - 60) * ((100vw - 320px) / (1440 - 320)));
        height: calc(60px + (160 - 60) * ((100vw - 320px) / (1440 - 320)));
        background-color: #000;
        position: absolute;
        top: calc(190px + (353 - 190) * ((100vw - 320px) / (1440 - 320)));
        right: calc(0px + (648 - 0) * ((100vw - 320px) / (1440 - 320)));
      }
      .square2{
        width: calc(60px + (145 - 60) * ((100vw - 320px) / (1440 - 320)));
        height: calc(60px + (175 - 60) * ((100vw - 320px) / (1440 - 320)));
        background-color: $blackBG;
        position: absolute;
        top: calc(220px + (513 - 220) * ((100vw - 320px) / (1440 - 320)));
        right: calc(320px + (648 - 320) * ((100vw - 320px) / (1440 - 320)));
      }
      .square3{
        height: 64px;
        width: calc(320px + (740 - 320) * ((100vw - 320px) / (1440 - 320)));
        background-color: $blackBG;
        position: absolute;
        top: calc(277px + (687 - 277) * ((100vw - 320px) / (1440 - 320)));
        right: calc(0px + (0 - 0) * ((100vw - 320px) / (1440 - 320)));
      }
    }
  }
}

// footer
.footer {
}
