@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 20px 0px 20px;
}

.main-block {}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //  background-color: $blackBG;
  z-index: 2;
}

.header__list {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;

  li {
    .header__link {
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 1px;
      color: #ffffff;
      margin-right: 36px;
    }

    button {
      font-family: "Paytone One";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 1px;
      color: #ffffff;
      background: #d400b3;
      border: 2px solid #d400b3;
      border-radius: 1px;
      padding-top: 7px;
      padding-bottom: 7px;
      width: 214px;
      margin-left: 100px;
      z-index: 3;
      position: relative;
    }
  }
}

.logo {
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
}

@media (max-width: 1440px) {
  .container {
    margin-left: calc(30px + (120 - 30) * ((100vw - 760px) / (1440 - 760)));
    margin-right: calc(30px + (120 - 30) * ((100vw - 760px) / (1440 - 760)));
  }

  .header__list {
    li {
      button {
        margin-left: calc(20px + (480 - 20) * ((100vw - 760px) / (1440 - 760)));
      }
    }
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .container {
    margin-left: calc(12px + (30 - 12) * ((100vw - 320px) / (767 - 320)));
    margin-right: calc(12px + (30 - 12) * ((100vw - 320px) / (767 - 320)));
  }

  .header__list {
    li {
      button {
        margin-left: 0px;
      }
    }
  }

  .header__burger {
    display: block;
    position: relative;
    width: 56px;
    height: 36px;
    position: relative;
    z-index: 3;

    span {
      position: absolute;
      background-color: #ffffff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 17px;
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
    }
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $grayBG;
    padding: 80px 18px 20px 32px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;

    ul {
      display: block;

      li {
        margin: 0px 0px 20px 0px;
      }
    }
  }
}

.header__menu.active {
  top: 0;
}

.header__burger.active span {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.header__burger.active:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 16px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  bottom: 16px;
}

.content {
  margin: 80px 0px 0px 0px;
}

//page
.page {
  flex: 1 1 auto;

  .page__main-block {
    display: flex;
    background-color: $blackBG;

    .main-block__container {
      .main-block__body {
        margin: calc(64px + (123 - 64) * ((100vw - 320px) / (1440 - 320))) calc(24px + (0 - 24) * ((100vw - 320px) / (1440 - 320))) calc(24px + (99 - 24) * ((100vw - 320px) / (1440 - 320))) calc(24px + (120 - 24) * ((100vw - 320px) / (1440 - 320)));

        h1 {
          font-family: "Paytone One";
          font-style: normal;
          font-weight: 400;
          font-size: calc(36px + (84 - 36) * ((100vw - 320px) / (1440 - 320)));
          line-height: calc(60px + (100 - 60) * ((100vw - 320px) / (1440 - 320)));
          letter-spacing: 1px;
          color: #ffffff;
          position: absolute;
          z-index: 2;
        }

        .main-block__text {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 1px;
          color: #e5e5e5;
          width: calc(280px + (640 - 280) * ((100vw - 320px) / (1440 - 320)));
          padding-top: calc(224px + (325 - 224) * ((100vw - 320px) / (1440 - 320)));
          z-index: 2;
          position: relative;
        }
      }
    }

    .main-block__img {
      width: calc(320px + (792 - 320) * ((100vw - 320px) / (1440 - 320)));
      z-index: 1;

      .circle {
        width: calc(320px + (792 - 320) * ((100vw - 320px) / (1440 - 320)));
        position: absolute;
        right: 0px;
      }

      .view {
        position: absolute;
        top: calc(190px + (478 - 190) * ((100vw - 320px) / (1440 - 320)));
        right: calc(0px + (512 - 0) * ((100vw - 320px) / (1440 - 320)));
        width: calc(60px + (150 - 60) * ((100vw - 320px) / (1440 - 320)));
        z-index: 1;
      }

      .square1 {
        width: calc(60px + (145 - 60) * ((100vw - 320px) / (1440 - 320)));
        height: calc(60px + (160 - 60) * ((100vw - 320px) / (1440 - 320)));
        background-color: #000;
        position: absolute;
        top: calc(190px + (353 - 190) * ((100vw - 320px) / (1440 - 320)));
        right: calc(0px + (648 - 0) * ((100vw - 320px) / (1440 - 320)));
      }

      .square2 {
        width: calc(60px + (145 - 60) * ((100vw - 320px) / (1440 - 320)));
        height: calc(60px + (175 - 60) * ((100vw - 320px) / (1440 - 320)));
        background-color: $blackBG;
        position: absolute;
        top: calc(220px + (513 - 220) * ((100vw - 320px) / (1440 - 320)));
        right: calc(320px + (648 - 320) * ((100vw - 320px) / (1440 - 320)));
      }

      .square3 {
        height: 64px;
        width: calc(320px + (740 - 320) * ((100vw - 320px) / (1440 - 320)));
        background-color: $blackBG;
        position: absolute;
        top: calc(277px + (687 - 277) * ((100vw - 320px) / (1440 - 320)));
        right: calc(0px + (0 - 0) * ((100vw - 320px) / (1440 - 320)));
      }
    }
  }
}

//main more

.more {
  background-color: $grayBG;
  margin-top: -1px;
  padding: 42px 155px 238px calc(30px + (120 - 30) * ((100vw - 320px) / (1440 - 320)));

  .watch-video {
    display: flex;
    align-items: center;
    margin-bottom: calc(54px + (203 - 54) * ((100vw - 1024px) / (1440 - 1024)));

    p {
      font-family: "Paytone One";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: 1px;
      color: #ffffff;
    }

    a {
      background: #ffffff;
      padding: 14px;
      margin-left: 30px;

      img {
        display: flex;
        align-items: center;
      }
    }
  }

  .achievements {
    display: flex;
    justify-content: space-between;

    .achievement__text {
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 1px;
      color: #e5e5e5;
      width: 448px;
    }

    .achievement__container {
      display: flex;
      gap: calc(30px + (76 - 30) * ((100vw - 320px) / (1440 - 320)));

      .achievement {
        h3 {
          font-family: "Paytone One";
          font-style: normal;
          font-weight: 400;
          font-size: calc(24px + (56 - 24) * ((100vw - 320px) / (1440 - 320)));
          line-height: 56px;
          text-align: center;
          letter-spacing: 1px;
          color: #ffffff;
        }

        p {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          letter-spacing: 1px;
          color: #ffffff;
          margin-top: 11px;
        }
      }
    }
  }
}

@media (max-width: 1439px) {
  .more {
    margin-top: -1px;
  }
}

@media (max-width: 1024px) {

  // .more {
  //   .watch-video{
  //     margin-bottom: calc(30px + (45- 30) * ((100vw - 320px) / (1024 - 320)));
  //   }
  //   .achievements {
  //     flex-direction: column;
  //     .achievement__text {
  //       width: calc(300px + (900 - 300) * ((100vw - 320px) / (1024 - 320)));
  //     }
  //   }
  // }
  .more {
    background-color: $grayBG;
    padding: calc(80px + (42 - 80) * ((100vw - 320px) / (1024 - 320))) calc(30px + (120 - 30) * ((100vw - 320px) / (1440 - 320))) calc(80px + (238 - 80) * ((100vw - 320px) / (1024 - 320))) calc(30px + (120 - 30) * ((100vw - 320px) / (1440 - 320)));

    .watch-video {
      display: flex;
      align-items: center;
      margin-bottom: calc(30px + (45- 30) * ((100vw - 320px) / (1024 - 320)));

      p {
        font-family: "Paytone One";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 1px;
        color: #ffffff;
      }

      a {
        background: #ffffff;
        padding: 14px;
        margin-left: 30px;

        img {
          display: flex;
          align-items: center;
        }
      }
    }

    .achievements {
      display: flex;
      flex-direction: column;
      margin-top: calc(204px + (64 - 204) * ((100vw - 320px) / (1024 - 320)));

      .achievement__text {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #e5e5e5;
        width: calc(270px + (860 - 270) * ((100vw - 320px) / (1024 - 320)));
        margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1024 - 320)));
      }

      .achievement__container {
        display: flex;
        justify-content: space-between;

        .achievement {
          h3 {
            font-family: "Paytone One";
            font-style: normal;
            font-weight: 400;
            font-size: calc(36px + (56 - 36) * ((100vw - 320px) / (1024 - 320)));
            line-height: 56px;
            text-align: center;
            letter-spacing: 1px;
            color: #ffffff;
          }

          p {
            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 1px;
            color: #ffffff;
            margin-top: 11px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .more {
    padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (425 - 320)));

    p {}

    a {
      img {}
    }

    .achievements {
      .achievement__text {}

      .achievement__container {
        flex-wrap: wrap;

        .achievement {
          h3 {}

          p {}
        }
      }
    }
  }
}

//popular
.popular {
  margin-top: -2px;
  background-color: $grayBG;
  padding: 14px 0px calc(24px + (174 - 24) * ((100vw - 320px) / (1440 - 320))) 0px;
  display: flex;
  flex-direction: column;
  gap: calc(24px + (64 - 24) * ((100vw - 320px) / (1440 - 320)));

  .popular__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .popular__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.img-center {}

.img-left-margin {
  margin-left: 24px;
  margin-bottom: 16px;
}

.img-right-margin {
  margin-right: 24px;
}

@media (max-width: 1340px) {
  .popular__top {
    margin: calc(24px + (80 - 24) * ((100vw - 320px) / (1340 - 320)));
  }

  .img-3 {
    margin-left: calc(0px + (40 - 0) * ((100vw - 320px) / (1340 - 320)));
    margin-top: 40px;
    margin-right: 0;
  }

  .popular__bottom {
    margin: calc(24px + (80 - 24) * ((100vw - 320px) / (1340 - 320)));
    margin-top: -40px;
  }

  .img-5 {
    margin-left: calc(0px + (40 - 0) * ((100vw - 320px) / (1340 - 320)));
    margin-top: 40px;
    margin-right: 0;
  }
}

@media (max-width: 978px) {
  .img-1 {
    width: calc(200px + (300 - 200) * ((100vw - 320px) / (978 - 320)));
  }

  .img-2 {
    margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (978 - 320)));
    width: calc(290px + (400 - 290) * ((100vw - 320px) / (978 - 320)));
  }

  .img-3 {
    width: calc(200px + (400 - 290) * ((100vw - 320px) / (978 - 320)));
  }

  .img-4 {
    width: calc(300px + (400 - 300) * ((100vw - 320px) / (978 - 320)));
    margin-left: calc(-10px + (10 - (-10)) * ((100vw - 320px) / (978 - 320)));
  }

  .img-5 {
    width: calc(290px + (400 - 290) * ((100vw - 320px) / (978 - 320)));
  }

  .img-6 {
    margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (978 - 320)));
    width: calc(200px + (300 - 200) * ((100vw - 320px) / (978 - 320)));
  }
}

// sell section

.sell {
  margin-top: -1px;
  background-color: $blackBG;
  padding: 175px 112px 185px 112px;

  &__header {
    font-family: "Paytone One";
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 64px;
    /* identical to box height, or 123% */
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 51px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.sell__card {
  max-width: 392px;
  max-height: 275px;
  background: #262627;
  border: 1px solid rgba(229, 229, 229, 0.5);
  border-radius: 2px;
  margin: 0 8px 16px 8px;
}

.card__imgs {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(12px + (25 - 12) * ((100vw - 320px) / (1440 - 320)));
}

.card__img {
  padding-left: 17px;
  padding-top: 36px;
}

.card__header {
  font-family: "Paytone One";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0 6px 0 17px;
  display: flex;
  justify-content: flex-start;
}

.card__description {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #e5e5e5;
  margin: 11px 6px calc(8px + (58 - 8) * ((100vw - 320px) / (1440 - 320))) 17px;
}

@media (max-width: 1388px) {
  .sell {
    padding: calc(100px + (175 - 100) * ((100vw - 320px) / (1388 - 320))) calc(40px + (112 - 40) * ((100vw - 320px) / (1388 - 320))) calc(60px + (185 - 60) * ((100vw - 320px) / (1388 - 320))) calc(40px + (112 - 40) * ((100vw - 320px) / (1388 - 320)));
  }

  .sell__cards {
    flex-direction: column;
  }

  .sell__card {
    max-width: 100%;
    padding-bottom: calc(28px + (4 - 28) * ((100vw - 320px) / (1388 - 320)));
  }
}

//trend section

.trend {
  margin-top: -1px;
  padding: 0 120px 0 120px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trend__left {}

.trend__description {}

.trend__header {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.trend__text {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 1px;
  color: #E5E5E5;
  margin: 18px 6px 96px 6px;
  max-width: 548px;
}

.trend__card {}

.card-trend {
  max-width: 548px;
}

.card-trend:not(:last-child) {
  margin-bottom: 99px;
}

.card-trend__header {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 142%;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.card-trend__description {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 1px;
  color: #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px 0 12px 0;
}

.eth {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 1px;
  color: #D400B3;
}

.card-trend__img {
  position: relative;
}

.trend-view {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.trend__right {
  margin: 84px 6px 6px 6px;
}

.trend__view {
  margin-top: 10px;

  p {
    position: relative;
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    text-align: right;
    letter-spacing: 1px;
    color: #D400B3;

    img {
      position: absolute;
      top: -26px;
      left: 329px;
    }
  }


}

// footer
.footer {}